/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.setting_div{
    display: flex; /* 使用 Flexbox 布局 */  
    justify-content: space-between; /* 在主要轴上分配空间，左右对齐 */  
    align-items: center; /* 在交叉轴上居中对齐 */  
    padding: 2.5px; /* 添加一些内边距 */   
}

.brushti_table_div {  
    display: flex;
    margin-top: 20px;  
}  

.my-table {  
    width: 100%;  
    border-collapse: collapse;  
}  

.my-table th, .my-table td {  
    border: 1px solid #ccc;  
    padding: 8px;  
    text-align: left;  
}  

.my-table th {  
    background-color: grey;  
}

.buttonDiv{
    display: flex; /* 使用 Flexbox 布局 */  
    justify-content: space-between; /* 在主要轴上分配空间，左右对齐 */  
    align-items: center; /* 在交叉轴上居中对齐 */  
    padding: 2.5px; /* 添加一些内边距 */ 
}

.add_button{
    margin-right: 20px
}

.quiz {  
    border: 3px dashed blue; /* 边框宽度为3px，虚线，颜色为蓝色 */  
    padding: 10px;  
    margin: 10px;  
}  

.des_text{
    color:burlywood
}